body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebebeb;
}
.main-box-shadow{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid img {
  transition: filter 0.5s ease;
}

.grid img:hover {
  filter: brightness(50%);
}

